---
import { Icon } from "astro-icon";
---

<div class="ms-2 sm:ms-4" transition:name="toggle-theme">
  <button
    type="button"
    id="toggle-theme"
    class="group relative h-9 w-9 rounded-md p-2 ring-zinc-400 transition-all hover:ring-2"
    aria-label="Toggle Dark Mode"
  >
    <Icon id="icon-dark" class="hidden h-full w-full" name="mdi:weather-night" />
    <Icon id="icon-light" class="hidden h-full w-full" name="mdi:weather-sunny" />
  </button>
</div>
<script is:inline>
var toggleTheme2 = (event) => {
  // const root = document.documentElement;

  // 出发 them-change event

  // const x = event.clientX;
  // const y = event.clientY;
  // const endRadius = Math.hypot(Math.max(x, innerWidth - x), Math.max(y, innerHeight - y));

  // let bodyThemeIsDark = document.documentElement.classList.contains("dark");
  // const button = event.target
  // button.setAttribute("aria-pressed", String(bodyThemeIsDark));

  let isDark;

  // @ts-ignore
  const transition = document.startViewTransition(() => {
    // 给 html 添加 dark/light class
    var root = document.documentElement;
    isDark = root.classList.contains("dark");
    root.classList.remove(isDark ? "dark" : "light");
    root.classList.add(isDark ? "light" : "dark");
    const button = event.target;
    button.setAttribute("aria-pressed", isDark ? "light" : "dark");
    // theme provider 里监听了事件，方便刷新保留事件
    root.dispatchEvent(
      new CustomEvent("theme-change", { detail: { theme: isDark ? "light" : "dark" } }),
    );
  });

  transition.ready.then(() => {
    // const clipPath = [`circle(0px at ${x}px ${y}px)`, `circle(${endRadius}px at ${x}px ${y}px)`];
    // myAni.forwards.old[0].clipPath = isDark ? [...clipPath].reverse() : clipPath;
    // document.querySelector("#toggle-theme")?.animate(
    //   {
    //     clipPath: isDark ? [...clipPath].reverse() : clipPath,
    //   },
    //   // {
    //   //   duration: 500,
    //   //   easing: "ease-in",
    //   //   pseudoElement: isDark
    //   //     ? "::view-transition-old(toggle-theme)"
    //   //     : "::view-transition-new(toggle-theme)",
    //   // },
    // );
  });
};

var btn = document.querySelector("#toggle-theme");
btn.addEventListener("click", (e) => {
  toggleTheme2(e);
});
</script>

<style>
  html.dark #icon-dark {
    display: block;
  }
  html.dark #icon-light {
    display: none;
  }
  html #icon-light,
  html.light #icon-light {
    display: block;
  }
</style>
